:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* colors */
  --primary-color: #202c39;
  --secondary-color: #283845;
  --tertiary-color: #e3e7d3;
  --light-grey: #bdc2bf;
  --dark-grey: #4c5b52;
  --accent-color: #305e43;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--primary-color);
}

img {
  max-width: 100%;
  padding: 30px;
  display: block;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

.hero {
  padding: 0;
  margin: 0;
}

.title-heading,
h2 {
  text-align: center;
  font-family: var(--font-headline);
  font-size: 2rem;
  letter-spacing: 2px;
}

.intro-paragraph {
  text-align: center;
  padding: 0 25px;
  color: var(--dark-grey);
}

.recipe-card h4,
.category-group h3 {
  font-size: var(--large-font);
  text-align: center;
}

footer {
  text-align: center;
  padding: 16px;
}

nav {
  display: flex;
  gap: 8px;
}

/* STYLES FOR THE RECIPE VIEW PAGE */
.recipe-card ul {
  text-align: left;
  color: var(--dark-grey);
}

.counter-footer {
  display: flex;
  gap: 8px;
}

.counter-button {
  width: 64px;
  height: 32px;
  font-size: 24px;
}

.counter-label {
  display: block;
  font-size: 32px;
  background: #f7f7f7;
  width: 136px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
  text-align: center;
}

/* FAVORITE VIEW STYLES */
.featured-section,
.recipes-section,
.favorites-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
}

.recipe-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
  margin-top: 8px;
  font-size: 1.2em;
}

.recipe-card img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  margin: 8px 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.recipe-card img:hover {
  transform: scale(1.05);
}

.recipe-instructions {
  font-size: 0.9em;
  color: #555;
}

/* REMOVE BTTN STYLES */
.remove-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* ADD RECIPE BTTN STYLES */
.favorite-btn.shake {
  animation: shake 0.5s ease;
  color: red;
}

/* Explore BTTN STYLES */
.explore-button {
  font-size: var(--font-base);
  padding: 10px;
  background-color: var(--light-grey);
  border-radius: 5px;
}

.explore-button:hover {
  background-color: var(--primary-color);
  color: var(--light-grey);
}

/* Navigation */
header {
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  padding: 15px 10px;
  color: var(--tertiary-color);
}

header .heading {
  font-family: var(--font-headline);
  font-size: 1.8em;
  color: var(--tertiary-color);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  font-family: var(--font-body);
  font-size: 1em;
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--accent-color);
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--light-grey);
  padding: 15px 20px;
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--small-font);
}

footer p,
footer span,
footer a {
  margin: 5px 0;
  color: var(--light-grey);
}

footer a {
  text-decoration: none;
}

/* Recipe View Styles */
.RV-title {
  text-align: center;
  font-family: var(--font-headline);
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.RV-recipes-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
}

.RV-recipe-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.RV-recipe-title {
  font-size: var(--large-font);
  color: var(--primary-color);
}

.RV-recipe-image {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  padding: 15px;
}

.RV-ingredientH {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--dark-grey);
}

.RV-ingredient-item {
  text-align: left;
  color: var(--dark-grey);
}

.RV-recipe-instructions {
  font-size: 0.9em;
  color: #555;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  header {
    padding: 0 0 25px;
  }

  /* Navigation */
  header .heading {
    font-size: 4rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  nav {
    flex-direction: row;
    gap: 30px;
  }

  nav a {
    font-size: 1.4em;
    transition: color 0.3s ease;
  }

  .hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .title-heading,
  h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }

  .intro-paragraph {
    padding: 0 200px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 20px;
  }

  /* Footer */
  footer {
    padding: 15px 20px;
    text-align: center;
  }

  footer p,
  footer span,
  footer a {
    font-size: 1.3rem;
  }

  .RV-recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    text-align: left;
    grid-template-areas:
      'title ingredientH'
      'image ingredients-list'
      'button ingredients-list'
      'instructions instructions';
  }

  .RV-title {
    font-size: 4rem;
  }

  .RV-recipe-title {
    grid-area: title;
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
  }

  .RV-recipe-image {
    grid-area: image;
    max-width: 100%;
    height: 350px;
    border-radius: 8px;
    padding: 0;
  }

  .favorite-btn {
    grid-area: button;
    align-self: start;
    margin-top: 12px;
    padding: 5px 60px;
    margin: 0 150px;
  }

  .RV-ingredientH {
    grid-area: ingredientH;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }

  .RV-recipe-card ul {
    margin-top: 0;
    line-height: 1.8rem;
  }

  .RV-ingredients-list {
    grid-area: ingredients-list;
    font-size: 1rem;
    color: var(--dark-grey);
  }

  .RV-recipe-instructions {
    grid-area: instructions;
    font-size: 1.5rem;
    color: var(--dark-grey);
    line-height: 2rem;
    text-align: center;
    padding: 0 85px;
  }

  .RV-ingredient-item {
    font-size: var(--large-font);
  }

  .favorite-card {
    max-width: 450px;
  }
}